<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Cult 11</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/AllRounderLeaderboard" Match="NavLinkMatch.Prefix">
                <span class="bi bi-geo-alt-fill-nav-menu" aria-hidden="true"></span> All Rounder Leaderboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/PlayerRankings" Match="NavLinkMatch.Prefix">
                <span class="bi bi-geo-alt-fill-nav-menu" aria-hidden="true"></span> Active Player Rankings
            </NavLink>
        </div>
        <!-- New Nav Item for Grounds Page -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/grounds" Match="NavLinkMatch.Prefix">
                <span class="bi bi-geo-alt-fill-nav-menu" aria-hidden="true"></span> Grounds
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/LoadBuild" Match="NavLinkMatch.Prefix">
                <span class="bi bi-geo-alt-fill-nav-menu" aria-hidden="true"></span> Load Build
            </NavLink>
        </div>
    </nav>
</div>
