@page "/clientRender"
@using CricHeroesAnalytics.Services.Interfaces
@inject NavigationManager Navigation
@inject ICricHeroesApiClient apiClient
@inject IJSRuntime JS

<div class="header-container">
    <h2>Client Render</h2>
</div>

@{   
    apiClient.FetchBuildUsingSelenium();
    JS.InvokeVoidAsync("navigateToPage", "/");
}
