@page "/clientRender"
@using CricHeroesAnalytics.Services.Interfaces
@inject NavigationManager Navigation
@inject ICricHeroesApiClient apiClient
@inject IJSRuntime JS
@inject HttpClient Http

<div class="header-container">
    <h2>Client Render</h2>
</div>

@code {   
    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetStringAsync("https://cricheroes.com/team-profile/5455774/cult-100/matches");
        if (!string.IsNullOrEmpty(response))
        {
            int index = response.IndexOf("/_buildManifest.js");
            if (index > 0)
            {
                int endIndex = index;
                index--;
                while (response[index] != '/')
                {
                    index--;
                }
                int startIndex = index + 1;
                string buildId = response.Substring(startIndex, endIndex - startIndex);
                Console.WriteLine($"New build Information: {buildId}");
            }
        }
    }
}
