@page "/counter"
@using CricHeroesAnalytics.Services.Interfaces
@rendermode InteractiveServer
@inject ICricHeroesApiClient cricHeroesClient;
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        cricHeroesClient.GetMatches();
    }
}
